@font-face {
    font-family: "Poppins-Regular";
    src: url(../components/fonts/poppins-regular-webfont.woff) format("woff");
    src: url(../components/fonts/poppins-regular-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Black";
    src: url(../components/fonts/poppins-black-webfont.woff) format("woff");
    src: url(../components/fonts/poppins-black-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../components/fonts/poppins-bold-webfont.woff) format("woff");
    src: url(../components/fonts/poppins-bold-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Light";
    src: url(../components/fonts/poppins-light-webfont.woff) format("woff");
    src: url(../components/fonts/poppins-light-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../components/fonts/poppins-medium-webfont.woff) format("woff");
    src: url(../components/fonts/poppins-medium-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Semibold";
    src: url(../components/fonts/poppins-semibold-webfont.woff) format("woff");
    src: url(../components/fonts/poppins-semibold-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

